importFrom(XML)
importFrom(RCurl)
importFrom(plyr)
importFrom(ggplot2)
# For ploting
importFrom(GGally)
importFrom(reshape2)
importFrom(scales)

# Labeling process
export(getColnames, parseLbl, .rmQuotes, .trimString)

# FTP connection
export(getFolderStructure, dirMissions)

# Data processsing
export(readPDStable, flattenMissionTree, exploreMission, getMissionTree)


# Methods
#S3method(print, PDSR)
S3method(summary, PDS)
S3method(plot, PDS)
